{
    "url": "http://localhost:4567",
    "secret": "",
    "database": "redis",
    "redis": {
        "host": "redis",
        "port": "6379",
        "password": "",
        "database": "0"
    },
    "jobsDisabled": false
}
